<h1 class="mb">Welcome to March Madness!</h1>
<h2 class="maroff">2018 NCAA Division 1 Men's Basketball Tournament</h2>

<br/>

<form action="/login" method="post">
  <div class="vmdpad">
    <label class="bld">Log In</label>
  </div>
  <div class="vsmpad"><input type="text"     name="username" placeholder="Username"/></div>
  <div class="vsmpad"><input type="password" name="password" placeholder="Password"/></div>
  <div class="vmdpad"><input type="submit"   value="Log In"/></div>
</form>

<br/>

<form action="/signup" method="post">
  <div class="vmdpad">
    <label class="bld">Create Account</label>
  </div>
  <div class="vsmpad"><input type="text"     name="name"     placeholder="Name"/></div>
  <div class="vsmpad"><input type="text"     name="username" placeholder="Username"/></div>
  <div class="vsmpad"><input type="password" name="password" placeholder="New password"/></div>
  <div class="vmdpad"><input type="submit"   value="Create Account"/></div>
</form>
